body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: larger;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: 640px;
    height: 480px;
}

